.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem;
  gap: 2rem;
}

.dashboard-auth {
  grid-template-columns: 1fr;
}

@media screen and (max-width: 992px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}